<div class="nav nav-fix-top">
    <div class="navbar-panel">
        <div class="brand">
            <a href="/" class="light">87兔的博客</a>
        </div>

        <div class="catalog pull-right">
            <ul>
                <li><a href="/categories.html">分类</a></li>
                <li><a href="/tags.html">标签</a></li>
                <li><a href="/projects.html">项目</a></li>
                <li><a href="/archives.html">归档</a></li>
                <li><a href="/about_me.html">关于我</a></li>
            </ul>
        </div>
        <div class="catalog pull-right">
        		<form action="http://www.baidu.com/baidu">
							<input type=text name=word value="百度站内搜索" onfocus="if(this.value=='百度站内搜索'){this.value='';}"&nbsp; onblur="if(this.value==''){this.value='百度站内搜索';}">
							<input type="submit" value="Baidu 搜索">
							<input name=tn type=hidden value="bds">
							<input name=cl type=hidden value="3">
							<input name=ct type=hidden value="2097152">
							<input name=si type=hidden value="www.87tu.me">
						</form>
      	</div>
    </div>
</div>

<!-- 防止 IE6、7 中定位元素导致相邻元素 margin-top 失效 -->
<div style="height: 0px"></div>